:root {
  --main-text-font: "Montserrat", sans-serif;
  --title-font:"Seymour One", sans-serif;
  --accent-color: #F8D24E;
  --main-text-color: #FCFCFC;
  --secondary-text-color: #131313;
  --main-background-color: #84A178;
  --secondary-background-color: #FCFCFC;
  /* Animation */
  --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

body {
  background-color: var(--main-background-color);
  font-family: Montserrat, sans-serif;
}

html {
  scroll-behavior: smooth;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 480px;
}
@media screen and (max-width: 479.98px) {
  .container {
    width: 320px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .container {
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

.link {
  text-decoration: none;
  font-style: normal;
  color: currentColor;
  -webkit-transition: cursor var(--animation);
  transition: cursor var(--animation);
  cursor: url(../images/icons/Cursor.svg), auto;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.button {
  text-align: center;
  border: none;
  background-color: transparent;
  cursor: url(../images/icons/Cursor.svg), auto;
}

.lable, .form-input {
  cursor: url(../images/icons/Cursor.svg), auto;
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  content: "";
  background-color: var(--main-background-color);
  width: 100%;
  height: 100%;
  padding: 20px 20px 88px 20px;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  z-index: 100;
  -webkit-transition: -webkit-transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-container.is-open {
  -webkit-transform: translate(0%);
          transform: translate(0%);
}
@media screen and (min-width: 1200px) {
  .menu-container {
    display: none;
  }
}

.menu-navigation-list {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 114px;
}
@media screen and (max-width: 479.98px) {
  .menu-navigation-list {
    margin-bottom: 110px;
  }
}

.menu-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
}
@media screen and (max-width: 479.98px) {
  .menu-head {
    margin-bottom: 52px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .menu-head {
    margin-bottom: 76px;
  }
}

.menu-navigation-item {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.menu-navigation-item:not(:last-child) {
  margin-bottom: 32px;
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .menu-navigation-item:not(:last-child) {
    margin-bottom: 40px;
  }
}

.menu-navigation-link {
  color: var(--main-text-color);
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  -webkit-transition: color var(--animation);
  transition: color var(--animation);
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .menu-navigation-link {
    font-size: 48px;
  }
}
.menu-navigation-link:hover, .menu-navigation-link:focus {
  color: var(--secondary-text-color);
}

.modal-menu-button {
  color: #000;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding: 12px 35px;
  background-color: var(--accent-color);
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  margin-right: auto;
  -webkit-transition: background-color var(--animation), color var(--animation), fill var(--animation);
  transition: background-color var(--animation), color var(--animation), fill var(--animation);
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .modal-menu-button {
    display: none;
  }
}
.modal-menu-button:hover {
  background-color: #0A8817;
}
.modal-menu-button:focus {
  background-color: #0A8817;
  color: var(--main-text-color);
}
.modal-menu-button:disabled {
  background-color: #ABABAB;
}
.modal-menu-button:focus .about-icon {
  fill: var(--main-text-color);
}

.backdrop {
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-open {
  -webkit-transform: translate(0%);
          transform: translate(0%);
}

.modal-products-card {
  position: fixed;
  top: 50%;
  left: 50%;
  content: "";
  background-color: var(--secondary-background-color);
  width: 280px;
  max-height: 85%;
  border-radius: 10px;
  border: 2px solid var(--accent-color);
  padding: 28px 28px;
  z-index: 100;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  overflow: auto;
  -webkit-transition: -webkit-transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-products-card.is-open {
  -webkit-transform: translate(0%);
          transform: translate(0%);
}
@media screen and (min-width: 768px) {
  .modal-products-card {
    width: 568px;
    height: 100%;
    padding: 32px 54px;
  }
}

.menu-products-button {
  fill: #131313;
  position: absolute;
  top: 12px;
  right: 12px;
  width: 20px;
  height: 20px;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  padding: 0;
  border-radius: 50%;
  -webkit-transition: scale var(--animation), -webkit-box-shadow var(--animation);
  transition: scale var(--animation), -webkit-box-shadow var(--animation);
  transition: scale var(--animation), box-shadow var(--animation);
  transition: scale var(--animation), box-shadow var(--animation), -webkit-box-shadow var(--animation);
}
.menu-products-button:hover, .menu-products-button:focus {
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.14), 0 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.14), 0 2px 1px rgba(0, 0, 0, 0.2);
}
@media screen and (min-width: 768px) {
  .menu-products-button {
    width: 24px;
    height: 24px;
  }
}

.menu-icon-products {
  fill: #131313;
}
@media screen and (min-width: 768px) {
  .menu-icon-products {
    width: 24px;
    height: 24px;
  }
}

.products-card-title {
  color: var(--secondary-text-color);
  font-family: var(--title-font);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 86px;
}
@media screen and (min-width: 768px) {
  .products-card-title {
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 106px;
  }
}

.products-cart-list {
  margin-bottom: 32px;
}
@media screen and (min-width: 768px) {
  .products-cart-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 32px;
    margin-bottom: 40px;
  }
}

.products-cart-item .products-circle {
  width: 132px;
  height: 132px;
  top: 72px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}
.products-cart-item .products-circle::before {
  top: -7px;
  width: 132px;
  height: 132px;
}
@media screen and (min-width: 768px) {
  .products-cart-item .products-circle {
    top: 100px;
    left: 120px;
    -ms-flex-preferred-size: calc((100% - 64px) / 3);
        flex-basis: calc((100% - 64px) / 3);
  }
}

.products-cart-item .circle-ice-coffe {
  top: 295px;
}
@media screen and (min-width: 768px) {
  .products-cart-item .circle-ice-coffe {
    top: 100px;
    left: 282px;
  }
}

.products-cart-item .circle-milkshakes {
  top: 514px;
}
@media screen and (min-width: 768px) {
  .products-cart-item .circle-milkshakes {
    top: 100px;
    left: 444px;
  }
}

.products-cart-item {
  width: 130px;
  height: 136px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .products-cart-item {
    margin-left: 0;
    margin-right: 0;
  }
}

.products-cart-item:not(:last-child) {
  margin-bottom: 85px;
}
@media screen and (min-width: 768px) {
  .products-cart-item:not(:last-child) {
    margin-bottom: 0px;
  }
}

.products-check-label {
  display: block;
  width: 130px;
  height: 100%;
  border-radius: 15px;
  -webkit-box-shadow: 0px 5.26px 19.726px 0px rgba(212, 20, 67, 0.1);
          box-shadow: 0px 5.26px 19.726px 0px rgba(212, 20, 67, 0.1);
  color: var(--secondary-text-color);
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.64px;
  text-transform: uppercase;
  padding-top: 96px;
  padding-bottom: 20px;
}

.products-check-label-green {
  border: 2px solid #96AF8C;
}

.products-check-label-yellow {
  border: 2px solid #EFD478;
}

.products-check-label-brown {
  border: 2px solid #D6936D;
}

#ice-cream:checked + .products-check-label-green {
  background-color: #96AF8C;
}

#ice-coffee:checked + .products-check-label-yellow {
  background-color: #EFD478;
}

#milkshakes:checked + .products-check-label-brown {
  background-color: #D6936D;
}

.products-form {
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-bottom: 26px;
}
@media screen and (min-width: 768px) {
  .products-form {
    margin-bottom: 32px;
  }
}

.form-input {
  border-radius: 10px;
  border: 1px solid #84A178;
  background: rgba(248, 210, 78, 0.1);
  padding: 8px 12px;
  width: 100%;
  font-size: 14px;
  line-height: 1.4;
}
@media screen and (min-width: 768px) {
  .form-input {
    padding: 11px 16px;
    width: 368px;
    display: block;
  }
}

.form-group {
  display: block;
}
@media screen and (min-width: 768px) {
  .form-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.form-group:not(:last-child) {
  margin-bottom: 16px;
}

.products-form-buttom {
  color: var(--secondary-text-color);
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  line-height: normal;
  padding: 12px 34px;
  border-radius: 10px;
  background: #F8D24E;
  margin-left: auto;
  margin-right: auto;
  display: block;
  -webkit-transition: background-color var(--animation);
  transition: background-color var(--animation);
}
.products-form-buttom:hover, .products-form-buttom:focus {
  background-color: #84A178;
  color: var(--main-text-color);
}
@media screen and (min-width: 768px) {
  .products-form-buttom {
    font-size: 14px;
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 14px;
}
@media screen and (min-width: 1200px) {
  .header-container {
    margin-top: 8px;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}

.logo-img {
  width: 48px;
}
@media screen and (min-width: 1200px) {
  .logo-img {
    width: 60px;
    height: 65px;
    margin-right: 308px;
  }
}

.header-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 479.98px) {
  .header-navigation {
    display: none;
  }
}
@media screen and (max-width: 767.98px) {
  .header-navigation {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .header-navigation {
    display: none;
  }
}

.header-navigation-item {
  margin-top: 32px;
  margin-bottom: 13px;
}
.header-navigation-item:not(:last-child) {
  margin-right: 28px;
}

.header-navigation-link {
  padding-top: 32px;
  padding-bottom: 13px;
  color: var(--main-text-color);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.header-navigation-link:hover, .header-navigation-link:focus {
  color: var(--accent-color);
}

.menu-button {
  margin-left: auto;
  background-color: var(--main-background-color);
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .menu-button {
    margin-right: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .menu-button {
    display: none;
  }
}

.menu-icon {
  fill: #fff;
  -webkit-transition: fill var(--animation);
  transition: fill var(--animation);
}
.menu-icon:hover {
  fill: #131313;
}

.header-button {
  color: #000;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
  background-color: var(--accent-color);
  padding: 12px 35px;
  -webkit-transition: background-color var(--animation), color var(--animation), fill var(--animation);
  transition: background-color var(--animation), color var(--animation), fill var(--animation);
}
@media screen and (max-width: 479.98px) {
  .header-button {
    display: none;
  }
}
@media screen and (max-width: 767.98px) {
  .header-button {
    display: none;
  }
}
.header-button:hover {
  background-color: #0A8817;
}
.header-button:focus {
  background-color: #0A8817;
  color: var(--main-text-color);
}
.header-button:disabled {
  background-color: #ABABAB;
}
.header-button:focus .about-icon {
  fill: var(--main-text-color);
}
@media screen and (min-width: 1200px) {
  .header-button {
    margin-left: auto;
  }
}

.hero-container {
  background: url(../images/hero/background-480.png) no-repeat right bottom;
  background-size: 330px;
  padding-top: 40px;
  padding-bottom: 150px;
  position: relative;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero-container {
    background: url(../images/hero/background-480@2x.png) no-repeat right bottom;
    background-size: 330px;
  }
}
@media screen and (max-width: 479.98px) {
  .hero-container {
    background: url(../images/hero/background-sm.png) no-repeat bottom;
    background-size: 320px;
    padding-top: 50px;
    padding-bottom: 236px;
  }
}
@media screen and (max-width: 479.98px) and (min-device-pixel-ratio: 2), screen and (max-width: 479.98px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 479.98px) and (min-resolution: 192dpi), screen and (max-width: 479.98px) and (min-resolution: 2dppx) {
  .hero-container {
    background: url(../images/hero/background-sm@2x.png) no-repeat bottom;
    background-size: 320px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .hero-container {
    background: url(../images/hero/background-md.png) no-repeat bottom;
    background-size: 768px;
    padding-top: 12px;
    padding-bottom: 12px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199.98px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199.98px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (max-width: 1199.98px) and (min-resolution: 2dppx) {
  .hero-container {
    background: url(../images/hero/background-md@2x.png) no-repeat bottom;
    background-size: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .hero-container {
    background: url(../images/hero/background-lg.png) no-repeat bottom;
    background-size: 1200px;
    padding-bottom: 65px;
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero-container {
    background: url(../images/hero/background-lg@2x.png) no-repeat bottom;
    background-size: 1200px;
  }
}

.hero-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero-title {
  color: var(--main-text-color);
  font-family: var(--title-font);
  font-size: 26px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.04px;
  text-transform: uppercase;
  width: 247px;
  margin-bottom: 32px;
}
@media screen and (min-width: 1200px) {
  .hero-title {
    font-size: 38px;
    letter-spacing: 1.52px;
    width: 367px;
    margin-bottom: 28px;
  }
}

.hero-links-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero-list-item {
  margin-bottom: 12px;
  margin-right: 12px;
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .hero-list-item {
    margin-right: 25px;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .hero-list-item {
    margin-bottom: 50px;
    margin-right: 25px;
  }
}

.hero-link {
  border-radius: 8px;
  border: 2px solid var(--accent-color);
  padding: 11px 26px;
  color: #000;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  line-height: normal;
  -webkit-transition: border-color var(--animation);
  transition: border-color var(--animation);
}
.hero-link:hover {
  border-color: #0A8817;
}
@media screen and (min-width: 1200px) {
  .hero-link {
    padding: 12px 34px;
    font-size: 14px;
    line-height: 1.28;
    -webkit-transition: border-color var(--animation), color var(--animation);
    transition: border-color var(--animation), color var(--animation);
  }
  .hero-link:focus {
    border-color: #0A8817;
    color: var(--main-text-color);
  }
  .hero-link:disabled {
    border-color: #ABABAB;
  }
}

.hero-anchor-link {
  color: var(--accent-color);
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  line-height: normal;
  text-decoration-line: underline;
  -webkit-transition: color var(--animation);
  transition: color var(--animation);
}
.hero-anchor-link:hover {
  color: #0A8817;
}
.hero-anchor-link:focus {
  color: var(--main-text-color);
}
.hero-anchor-link:disabled {
  color: #ABABAB;
}
@media screen and (min-width: 1200px) {
  .hero-anchor-link {
    font-size: 14px;
  }
}

.hero-hidden-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 479.98px) {
  .hero-hidden-content {
    display: none;
  }
}
@media screen and (max-width: 767.98px) {
  .hero-hidden-content {
    display: none;
  }
}

.hero-text {
  color: #FFF;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.68;
  width: 165px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 29px;
}
@media screen and (min-width: 1200px) {
  .hero-text {
    font-size: 13px;
    width: 200px;
    gap: 24px;
    padding-top: 30px;
  }
}

.hero-arrow-button {
  text-align: left;
}

.hero-arrow-icon {
  fill: var(--main-text-color);
  -webkit-transition: scale var(--animation);
  transition: scale var(--animation);
}
.hero-arrow-icon:hover, .hero-arrow-icon:focus {
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
}

.hero-ice-cream {
  width: 152px;
  height: 152px;
  margin-right: 32px;
}
@media screen and (max-width: 479.98px) {
  .hero-ice-cream {
    display: none;
  }
}
@media screen and (max-width: 767.98px) {
  .hero-ice-cream {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .hero-ice-cream {
    width: 225px;
    height: 225px;
    margin-right: 16px;
  }
}

.hero-img {
  position: absolute;
  bottom: 0px;
  right: 27px;
  content: "";
  width: 218px;
  margin-right: auto;
  -webkit-animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
          animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
@media screen and (max-width: 479.98px) {
  .hero-img {
    width: 177px;
    right: 56px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .hero-img {
    width: 268px;
    right: 90px;
  }
}
@media screen and (min-width: 1200px) {
  .hero-img {
    width: 456px;
    right: 80px;
  }
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
.header-statistics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: auto;
  padding-top: 14px;
  gap: 20px;
}
@media screen and (max-width: 479.98px) {
  .header-statistics {
    display: none;
  }
}
@media screen and (max-width: 767.98px) {
  .header-statistics {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .header-statistics {
    padding-top: 22px;
    gap: 16px;
  }
}

.header-statistics-item {
  text-align: right;
}

.statistics-number {
  color: var(--secondary-text-color);
  font-size: 28px;
  font-weight: 900;
  line-height: normal;
  letter-spacing: 1.12px;
  text-transform: uppercase;
  margin-bottom: 4px;
}
@media screen and (min-width: 1200px) {
  .statistics-number {
    font-size: 46px;
    letter-spacing: 1.84px;
  }
}

.statistics-desc {
  color: var(--main-text-color);
  font-size: 8px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media screen and (min-width: 1200px) {
  .statistics-desc {
    font-size: 14px;
  }
}

.products {
  background-image: url(../images/background/back-mobile.jpg);
  background-position: 70%;
  background-size: cover;
  padding-top: 60px;
  padding-bottom: 60px;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .products {
    background-image: url(../images/background/back-mobile@2x.jpg);
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .products {
    background-image: url(../images/background/back-tablet.jpg);
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199.98px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199.98px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (max-width: 1199.98px) and (min-resolution: 2dppx) {
  .products {
    background-image: url(../images/background/back-tablet@2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .products {
    background-image: url(../images/background/back-desctop.jpg);
    background-position: 50%;
    background-size: cover;
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .products {
    background-image: url(../images/background/back-desctop@2x.jpg);
  }
}

.products-appertitle {
  color: var(--secondary-text-color);
  text-align: center;
  font-size: 18px;
  font-weight: 800;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 12px;
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .products-appertitle {
    font-size: 22px;
  }
}
@media screen and (min-width: 1200px) {
  .products-appertitle {
    font-size: 30px;
    letter-spacing: 1.2px;
  }
}

.products-title {
  color: var(--secondary-text-color);
  text-align: center;
  font-family: var(--title-font);
  font-size: 30px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  margin-bottom: 145px;
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .products-title {
    font-size: 34px;
    margin-bottom: 200px;
  }
}
@media screen and (min-width: 1200px) {
  .products-title {
    font-size: 36px;
    letter-spacing: 2.16px;
    margin-bottom: 303px;
  }
}

.products-cart {
  gap: 168px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .products-cart {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 16px;
  }
}
@media screen and (min-width: 1200px) {
  .products-cart {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 29px;
  }
}

.products-item {
  border-radius: 24px;
  width: 320px;
  height: 428px;
  position: relative;
  padding-top: 126px;
  padding-bottom: 16px;
  padding-right: 60px;
  padding-left: 60px;
}
@media screen and (max-width: 479.98px) {
  .products-item {
    width: 280px;
    height: 420px;
    padding-right: 40px;
    padding-left: 40px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .products-item {
    width: 224px;
    height: 428px;
    padding-right: 39px;
    padding-left: 39px;
    padding-top: 108px;
    border-radius: 15.781px;
    -ms-flex-preferred-size: calc((100% - 32px) / 3);
        flex-basis: calc((100% - 32px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .products-item {
    width: 370px;
    height: 536px;
    padding-top: 165px;
    padding-left: 64px;
    padding-right: 64px;
    border-radius: 24px;
    -ms-flex-preferred-size: calc((100% - 58px) / 3);
        flex-basis: calc((100% - 58px) / 3);
  }
}

.ice-cream-item {
  background-color: #AEC6A5;
}

.ice-coffe-item {
  background-color: #EFD478;
}

.milkshakes-item {
  background-color: #D6936D;
}

.cart-title {
  position: relative;
  color: var(--secondary-text-color);
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .cart-title {
    font-style: 22px;
  }
}
@media screen and (min-width: 1200px) {
  .cart-title {
    font-style: 30px;
    margin-bottom: 66px;
  }
}

.cart-description {
  color: var(--secondary-text-color);
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 176%;
  letter-spacing: 0.56px;
}
@media screen and (min-width: 1200px) {
  .cart-description {
    font-size: 16px;
    letter-spacing: 0.64px;
  }
}

.button-cart-desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  content: "";
  bottom: 16px;
  left: 140px;
  -webkit-transition: scale var(--animation);
  transition: scale var(--animation);
}
.button-cart-desc:hover, .button-cart-desc:focus {
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
}
@media screen and (max-width: 479.98px) {
  .button-cart-desc {
    left: 120px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .button-cart-desc {
    left: 92px;
  }
}
@media screen and (min-width: 1200px) {
  .button-cart-desc {
    bottom: 60px;
    left: 165px;
  }
}

.products-circle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: absolute;
  right: 60px;
  top: -106px;
}
@media screen and (max-width: 479.98px) {
  .products-circle {
    right: 40px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .products-circle {
    top: -108px;
    right: 12px;
  }
}
@media screen and (min-width: 1200px) {
  .products-circle {
    width: 302px;
    height: 302px;
    top: -183px;
    right: 34px;
  }
}
.products-circle::before {
  position: absolute;
  right: 0px;
  top: -11px;
  content: "";
  width: 200px;
  height: 200px;
  background-size: cover;
}
@media screen and (min-width: 1200px) {
  .products-circle::before {
    width: 302px;
    height: 302px;
    top: -16px;
  }
}

.circle-ice-cream {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(156, 190, 143, 0.7)), to(rgba(156, 190, 143, 0.7))), #D9D9D9;
  background: linear-gradient(0deg, rgba(156, 190, 143, 0.7) 0%, rgba(156, 190, 143, 0.7) 100%), #D9D9D9;
  -webkit-box-shadow: 0px 5.3421931267px 20.0332221985px rgba(10, 136, 23, 0.25);
          box-shadow: 0px 5.3421931267px 20.0332221985px rgba(10, 136, 23, 0.25);
}
.circle-ice-cream::before {
  background-image: url(../images/products/img-1-sm-md.png);
}

.circle-ice-coffe {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(248, 210, 78, 0.7)), to(rgba(248, 210, 78, 0.7))), #D9D9D9;
  background: linear-gradient(0deg, rgba(248, 210, 78, 0.7) 0%, rgba(248, 210, 78, 0.7) 100%), #D9D9D9;
  -webkit-box-shadow: 0px 5.4039735794px 20.2649002075px rgba(153, 114, 23, 0.25);
          box-shadow: 0px 5.4039735794px 20.2649002075px rgba(153, 114, 23, 0.25);
}
.circle-ice-coffe::before {
  background-image: url(../images/products/img-2-sm-md.png);
}

.circle-milkshakes {
  background: llinear-gradient(0deg, rgba(213, 117, 63, 0.7) 0%, rgba(213, 117, 63, 0.7) 100%), #D9D9D9;
  -webkit-box-shadow: 0px 5.4133329391px 20.2999992371px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 5.4133329391px 20.2999992371px rgba(0, 0, 0, 0.25);
}
.circle-milkshakes::before {
  background-image: url(../images/products/img-3-sm-md.png);
}

.about {
  padding-top: 60px;
  padding-bottom: 60px;
  padding-right: 100px;
  padding-left: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 479.98px) {
  .about {
    padding-right: 20px;
    padding-left: 20px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .about {
    padding-left: 32px;
    padding-right: 0px;
  }
}
@media screen and (min-width: 1200px) {
  .about {
    padding-left: 17px;
    padding-right: 17px;
    padding-bottom: 146px;
  }
}

.about-container {
  position: relative;
}

.about-appertitle {
  color: var(--main-text-color);
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 12px;
  width: 210px;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .about-appertitle {
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .about-appertitle {
    font-size: 30px;
    letter-spacing: 1.2px;
  }
}

.about-title {
  color: var(--main-text-color);
  text-align: center;
  font-family: var(--title-font);
  font-size: 30px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  margin-bottom: 372px;
  width: 210px;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .about-title {
    width: 100%;
    margin-bottom: 80px;
  }
}
@media screen and (min-width: 1200px) {
  .about-title {
    width: 100%;
    font-size: 36px;
    letter-spacing: 2.16px;
    margin-bottom: 172px;
  }
}

.about-circle {
  width: 279px;
  height: 278px;
  border-radius: 50%;
  position: absolute;
  top: 170px;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(248, 210, 78, 0.7)), to(rgba(248, 210, 78, 0.7))), #D9D9D9;
  background: linear-gradient(0deg, rgba(248, 210, 78, 0.7) 0%, rgba(248, 210, 78, 0.7) 100%), #D9D9D9;
  -webkit-box-shadow: 0px 4.48583px 16.82185px 0px rgba(153, 114, 23, 0.25);
          box-shadow: 0px 4.48583px 16.82185px 0px rgba(153, 114, 23, 0.25);
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .about-circle {
    width: 330px;
    height: 330px;
    top: 170px;
    left: 0;
  }
}
@media screen and (min-width: 1200px) {
  .about-circle {
    width: 490px;
    height: 490px;
    top: 170px;
    left: 0;
  }
}
.about-circle::before {
  position: absolute;
  right: 0px;
  top: 22px;
  content: "";
  width: 278px;
  height: 278px;
  background-image: url(../images/about/caw-sm.png);
  background-size: cover;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .about-circle::before {
    background-image: url(../images/about/caw-sm@2x.png);
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .about-circle::before {
    background-image: url(../images/about/caw-md.png);
    width: 330px;
    height: 330px;
    top: 26px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199.98px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199.98px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (max-width: 1199.98px) and (min-resolution: 2dppx) {
  .about-circle::before {
    background-image: url(../images/about/caw-md@2x.png);
  }
}
@media screen and (min-width: 1200px) {
  .about-circle::before {
    background-image: url(../images/about/caw-lg.png);
    width: 490px;
    height: 490px;
    top: 39px;
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .about-circle::before {
    background-image: url(../images/about/caw-lg@2x.png);
  }
}

.about-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .about-content {
    width: 334px;
    margin-left: auto;
  }
}
@media screen and (min-width: 1200px) {
  .about-content {
    width: 463px;
    margin-left: auto;
    margin-right: 105px;
  }
}

.about-text {
  margin-bottom: 24px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}
@media screen and (min-width: 1200px) {
  .about-text {
    margin-bottom: 54px;
  }
}

.about-content-item:not(:last-child) {
  margin-bottom: 4px;
}
@media screen and (min-width: 1200px) {
  .about-content-item:not(:last-child) {
    margin-bottom: 8px;
  }
}

.about-desc {
  color: var(--main-text-color);
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  line-height: 2.11;
  letter-spacing: 0.48px;
}
@media screen and (min-width: 768px) {
  .about-desc {
    text-align: start;
  }
}
@media screen and (min-width: 1200px) {
  .about-desc {
    font-size: 14px;
  }
}

.button-about {
  border-radius: 10px;
  background: var(--accent-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.29;
  padding: 12px 34px;
  margin-left: auto;
  margin-right: auto;
  -webkit-transition: background-color var(--animation), color var(--animation), fill var(--animation);
  transition: background-color var(--animation), color var(--animation), fill var(--animation);
}
@media screen and (min-width: 768px) {
  .button-about {
    margin-left: 0px;
  }
}
.button-about:hover {
  background-color: #0A8817;
}
.button-about:focus {
  background-color: #0A8817;
  color: var(--main-text-color);
}
.button-about:disabled {
  background-color: #ABABAB;
}
.button-about:focus .about-icon {
  fill: var(--main-text-color);
}

.about-icon {
  fill: #000;
  margin-left: 4px;
}

.advantages-container {
  padding: 0px 100px;
  padding-bottom: 81px;
}
@media screen and (max-width: 479.98px) {
  .advantages-container {
    padding-left: 45px;
    padding-right: 45px;
    padding-bottom: 68px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .advantages-container {
    padding-left: 76px;
    padding-right: 76px;
    padding-bottom: 204px;
  }
}
@media screen and (min-width: 1200px) {
  .advantages-container {
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 178px;
  }
}

.advantages-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 32px;
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .advantages-list {
    gap: 80px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
@media screen and (min-width: 1200px) {
  .advantages-list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.advantages-item {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .advantages-item {
    -ms-flex-preferred-size: calc((100% - 160px) / 3);
        flex-basis: calc((100% - 160px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .advantages-item {
    -ms-flex-preferred-size: calc((100% - 32px) / 3);
        flex-basis: calc((100% - 32px) / 3);
  }
}

.advantages-circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: relative;
  right: -115px;
  top: 0px;
  background-color: var(--accent-color);
  margin-bottom: 16px;
}
@media screen and (max-width: 479.98px) {
  .advantages-circle {
    right: -90px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .advantages-circle {
    margin-bottom: 32px;
    right: -51px;
  }
}
@media screen and (min-width: 1200px) {
  .advantages-circle {
    margin-bottom: 40px;
    right: -159px;
  }
}
.advantages-circle::before {
  position: absolute;
  right: 7px;
  top: 7px;
  content: "";
  width: 36px;
  height: 36px;
  background-size: cover;
}

.circle-caw::before {
  background-image: url(../images/advantages/cow.png);
}

.circle-weight::before {
  background-image: url(../images/advantages/weight.png);
}

.circle-ice-crema::before {
  background-image: url(../images/advantages/ice-crema.png);
}

.advantages-number {
  color: var(--main-text-color);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.44px;
  text-transform: uppercase;
  margin-bottom: 16px;
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .advantages-number {
    margin-bottom: 12px;
    font-size: 48px;
    letter-spacing: 1.92px;
  }
}
@media screen and (min-width: 1200px) {
  .advantages-number {
    font-size: 58px;
    letter-spacing: 2.32px;
    margin-bottom: 12px;
  }
}

.advantages-item-desc {
  color: var(--main-text-color);
  font-family: Montserrat;
  text-align: center;
  font-size: 14px;
  line-height: 2;
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .advantages-item-desc {
    margin-bottom: 32px;
    line-height: 1.74;
  }
}
@media screen and (min-width: 1200px) {
  .advantages-item-desc {
    font-size: 17px;
  }
}

.gallery-wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.gallery {
  position: absolute;
  top: 0;
  bottom: 0;
  -webkit-transform: translateY(-49px);
          transform: translateY(-49px);
}
@media screen and (max-width: 479.98px) {
  .gallery {
    -webkit-transform: translateY(-36px);
            transform: translateY(-36px);
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .gallery {
    -webkit-transform: translateY(-144px);
            transform: translateY(-144px);
  }
}
@media screen and (min-width: 1200px) {
  .gallery {
    -webkit-transform: translateY(-98px);
            transform: translateY(-98px);
  }
}

@media screen and (min-width: 1200px) {
  .gallery-container {
    padding-right: 93px;
    padding-left: 94px;
  }
}

.gallery-img {
  border-radius: 8px;
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .gallery-img {
    border-radius: 18px;
  }
}
@media screen and (min-width: 1200px) {
  .gallery-img {
    border-radius: 24px;
  }
}

@-webkit-keyframes autoplay {
  0% {
    left: 0px;
  }
  33% {
    left: -1200px;
  }
  100% {
    left: -2400px;
  }
}

@keyframes autoplay {
  0% {
    left: 0px;
  }
  33% {
    left: -1200px;
  }
  100% {
    left: -2400px;
  }
}
.customer-reviews {
  background-image: url(../images/background/back-mobile.jpg);
  background-position: 70%;
  background-size: cover;
  padding-bottom: 409px;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .customer-reviews {
    background-image: url(../images/background/back-mobile@2x.jpg);
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .customer-reviews {
    background-image: url(../images/background/back-tablet.jpg);
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199.98px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199.98px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (max-width: 1199.98px) and (min-resolution: 2dppx) {
  .customer-reviews {
    background-image: url(../images/background/back-tablet@2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .customer-reviews {
    background-image: url(../images/background/back-desctop.jpg);
    background-position: 30%;
    background-size: cover;
    padding-bottom: 228px;
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .customer-reviews {
    background-image: url(../images/background/back-desctop@2x.jpg);
  }
}

.customer-review {
  padding-top: 235px;
  padding-left: 80px;
  padding-right: 80px;
}
@media screen and (max-width: 479.98px) {
  .customer-review {
    padding-top: 174px;
    padding-left: 0px;
    padding-right: 0px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .customer-review {
    padding-top: 283px;
    padding-left: 0px;
    padding-right: 0px;
  }
}
@media screen and (min-width: 1200px) {
  .customer-review {
    padding-top: 464px;
    padding-left: 113px;
    padding-right: 113px;
  }
}

.customer-img {
  border-radius: 50%;
  width: 85px;
  height: 85px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 32px;
}

.desc-container {
  background-color: var(--main-background-color);
  border-radius: 10px;
  padding: 35px 39px;
  margin-bottom: 32px;
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .desc-container {
    padding: 28px 80px;
  }
}
@media screen and (min-width: 1200px) {
  .desc-container {
    padding: 43px 109px;
  }
}

.customer-desc {
  color: var(--main-text-color);
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  line-height: 3.06;
}
@media screen and (min-width: 768px) {
  .customer-desc {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 2.6;
    letter-spacing: 0.56px;
  }
}
@media screen and (min-width: 1200px) {
  .customer-desc {
    font-size: 16px;
    line-height: 3;
    letter-spacing: 0.64px;
  }
}

.customer-info {
  color: var(--secondary-text-color);
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.86;
  margin-bottom: 12px;
}
@media screen and (min-width: 768px) {
  .customer-info {
    font-size: 16px;
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .customer-info {
    line-height: 3;
  }
}

.customer-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 18px;
}

.customer-button {
  background-color: #d9d9d9;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  border: none;
}

.active-button {
  background-color: var(--main-background-color);
}

.contacts {
  -webkit-transform: translateY(-349px);
          transform: translateY(-349px);
}
@media screen and (min-width: 1200px) {
  .contacts {
    -webkit-transform: translateY(-128px);
            transform: translateY(-128px);
  }
}

.contacts-container {
  padding-left: 80px;
  padding-right: 80px;
}
@media screen and (max-width: 479.98px) {
  .contacts-container {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .contacts-container {
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts-container {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.contacts-list {
  margin-bottom: 24px;
}
@media screen and (min-width: 768px) {
  .contacts-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 16px;
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts-list {
    gap: 32px;
    margin-bottom: 60px;
  }
}

.contacts-item {
  background-color: var(--secondary-background-color);
  border-radius: 24px;
  -webkit-box-shadow: 0px 8px 30px 0px rgba(212, 20, 67, 0.1);
          box-shadow: 0px 8px 30px 0px rgba(212, 20, 67, 0.1);
  padding: 40px 58px 24px 32px;
}
.contacts-item:not(:last-child) {
  margin-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .contacts-item:not(:last-child) {
    margin-bottom: 0px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .contacts-item {
    -ms-flex-preferred-size: calc((100% - 32px) / 3);
        flex-basis: calc((100% - 32px) / 3);
    padding: 40px 24px 40px 24px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts-item {
    -ms-flex-preferred-size: calc((100% - 64px) / 3);
        flex-basis: calc((100% - 64px) / 3);
    padding: 40px;
  }
}

.contacts-category {
  color: var(--secondary-text-color);
  font-size: 12px;
  font-weight: 500;
  line-height: 1.44;
  letter-spacing: 0.48px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 4px 22px;
  border-radius: 4px;
  background: var(--accent-color);
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .contacts-category {
    font-size: 16px;
    letter-spacing: 0.64px;
    padding: 4px 13px;
    margin-bottom: 32px;
    border-radius: 6px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts-category {
    padding: 4px 14px;
    margin-bottom: 36px;
  }
}

.contact-city {
  color: var(--secondary-text-color);
  font-size: 12px;
  font-weight: 500;
  line-height: 2.23;
  letter-spacing: 0.48px;
  margin-bottom: 8px;
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .contact-city {
    font-size: 14px;
    letter-spacing: 0.56px;
    margin-bottom: 12px;
  }
}
@media screen and (min-width: 1200px) {
  .contact-city {
    font-size: 16px;
    line-height: 3;
    letter-spacing: 0.64px;
    margin-bottom: 8px;
  }
}

.contact-map-box {
  margin-bottom: 48px;
}
@media screen and (min-width: 768px) {
  .contact-map-box {
    margin-bottom: 64px;
  }
}

.contact-map {
  color: #D6936D;
  font-size: 12px;
  font-weight: 500;
  line-height: 2.2;
  letter-spacing: 0.48px;
}
.contact-map:hover, .contact-map:focus {
  text-decoration-line: underline;
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .contact-map {
    font-size: 14px;
    line-height: 2.56;
    letter-spacing: 0.56px;
  }
}
@media screen and (min-width: 1200px) {
  .contact-map {
    font-size: 16px;
    line-height: 2.9;
    letter-spacing: 0.64px;
  }
}

.contact-hours-list {
  position: relative;
  margin-bottom: 48px;
}
@media screen and (min-width: 768px) {
  .contact-hours-list {
    margin-bottom: 64px;
  }
}
.contact-hours-list::before {
  position: absolute;
  content: "";
  top: -24px;
  width: 216px;
  height: 1px;
  background-color: #e1e1e1;
}
@media screen and (min-width: 768px) {
  .contact-hours-list::before {
    top: -32px;
    width: 176px;
  }
}
@media screen and (min-width: 1200px) {
  .contact-hours-list::before {
    width: 288px;
  }
}
.contact-hours-list::after {
  position: absolute;
  content: "";
  bottom: -24px;
  width: 216px;
  height: 1px;
  background-color: #e1e1e1;
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .contact-hours-list::after {
    bottom: -32px;
    width: 176px;
  }
}
@media screen and (min-width: 1200px) {
  .contact-hours-list::after {
    width: 288px;
  }
}

.contact-hour-item:not(:last-child) {
  margin-bottom: 8px;
}

.contact-days {
  color: var(--secondary-text-color);
  font-size: 12px;
  font-weight: 500;
  line-height: 2.23;
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .contact-days {
    font-size: 14px;
    line-height: 2.6;
  }
}
@media screen and (min-width: 1200px) {
  .contact-days {
    font-size: 16px;
    line-height: 3;
    letter-spacing: 0.64px;
  }
}

.contact-hour {
  color: #ABABAB;
  font-size: 12px;
  font-weight: 500;
  line-height: 2.23;
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .contact-hour {
    font-size: 14px;
    line-height: 2.6;
  }
}
@media screen and (min-width: 1200px) {
  .contact-hour {
    font-size: 16px;
    line-height: 3;
  }
}

.contact-tel, .contact-mail {
  color: var(--secondary-text-color);
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.92;
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .contact-tel, .contact-mail {
    font-size: 14px;
    line-height: 2.1;
  }
}
@media screen and (min-width: 1200px) {
  .contact-tel, .contact-mail {
    font-size: 16px;
    line-height: 2.4;
  }
}

.contact-tel {
  margin-bottom: 6px;
}
@media screen and (min-width: 768px) {
  .contact-tel {
    margin-bottom: 4px;
  }
}

@media screen and (min-width: 768px) {
  .contacts-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 16px;
  }
}

.contacts-button-location {
  padding: 15px 34px;
  border-radius: 10px;
  background: var(--accent-color);
  border: 2px solid var(--accent-color);
  width: 196px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #000;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.29;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 16px;
  -webkit-transition: background-color var(--animation), color var(--animation), fill var(--animation), border-color var(--animation);
  transition: background-color var(--animation), color var(--animation), fill var(--animation), border-color var(--animation);
}
.contacts-button-location:hover {
  background-color: #0A8817;
  border-color: #0A8817;
}
.contacts-button-location:focus {
  background-color: #0A8817;
  border-color: #0A8817;
  color: var(--main-text-color);
}
.contacts-button-location:disabled {
  background-color: #ABABAB;
  border-color: #ABABAB;
}
.contacts-button-location:focus .about-icon {
  fill: var(--main-text-color);
}

.contacts-button-franchise {
  padding: 15px 34px;
  border-radius: 10px;
  background: transparent;
  border: 2px solid var(--accent-color);
  width: 196px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #000;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.29;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 60px;
  -webkit-animation: border-color var(--animation), color var(--animation), fill var(--animation);
          animation: border-color var(--animation), color var(--animation), fill var(--animation);
}
.contacts-button-franchise:hover {
  border-color: #0A8817;
}
.contacts-button-franchise:focus {
  border-color: #0A8817;
  color: var(--main-text-color);
}
.contacts-button-franchise:disabled {
  border-color: #ABABAB;
}
.contacts-button-franchise:focus .about-icon {
  fill: var(--main-text-color);
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .contacts-button-franchise {
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts-button-franchise {
    margin-bottom: 120px;
  }
}

.footer {
  margin-top: -340px;
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .footer {
    margin-top: -270px;
  }
}
@media screen and (min-width: 1200px) {
  .footer {
    margin-top: -130px;
  }
}

.footer-desc {
  color: var(--main-text-color);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  width: 232px;
  margin-bottom: 16px;
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .footer-desc {
    font-size: 26px;
    letter-spacing: 1.04px;
    width: 352px;
    margin-bottom: 4px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-desc {
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 1.2px;
    width: 504px;
    margin-bottom: 14px;
  }
}

.footer-text {
  color: var(--main-text-color);
  font-size: 34px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.36px;
  text-transform: uppercase;
  width: 200px;
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .footer-text {
    font-size: 48px;
    letter-spacing: 2.88px;
    width: 352px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-text {
    font-size: 58px;
    letter-spacing: 3.48px;
    width: 500px;
  }
}

.footer-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 20px;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .footer-socials {
    margin-top: -185px;
    margin-bottom: 34px;
    gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-socials {
    margin-top: -167px;
    margin-bottom: 40px;
  }
}

.footer-social-icon {
  fill: #84A178;
}
.footer-social-icon:hover, .footer-social-icon:focus {
  fill: var(--main-text-color);
}

.footer-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .footer-contacts {
    margin-bottom: 60px;
  }
}

.footer-tel-desc {
  color: var(--secondary-text-color);
  text-align: right;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 2.23;
  margin-right: 2px;
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .footer-tel-desc {
    font-size: 14px;
    line-height: 2.6;
  }
}
@media screen and (min-width: 1200px) {
  .footer-tel-desc {
    font-size: 16px;
    line-height: 3;
    letter-spacing: 0.32px;
  }
}

.footer-tel {
  color: var(--main-text-color);
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 186%;
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .footer-tel {
    font-size: 14px;
    line-height: 2.6;
  }
}
@media screen and (min-width: 1200px) {
  .footer-tel {
    font-size: 16px;
    line-height: 3;
    letter-spacing: 0.32px;
  }
}

.footer-copyright-wrapper {
  padding-top: 20px;
  padding-bottom: 24px;
  border-top: 1px solid #E1E1E1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2px;
}
@media screen and (max-width: 479.98px) {
  .footer-copyright-wrapper {
    padding-right: 0px;
    padding-left: 0px;
  }
}
@media screen and (min-width: 768px) {
  .footer-copyright-wrapper {
    padding-top: 12px;
    padding-bottom: 12px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.footer-copyright {
  color: #7A7A7A;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
}/*# sourceMappingURL=main.css.map */