:root {
    // Fonts
    --main-text-font: 'Montserrat', sans-serif;
    --title-font:'Seymour One', sans-serif;

    // Colors
    --accent-color: #F8D24E;
    --main-text-color: #FCFCFC;
    --secondary-text-color: #131313;

    // Backgroung colors
    --main-background-color: #84A178;
    --secondary-background-color: #FCFCFC;
}