.about {
    padding-top: 60px;
    padding-bottom: 60px;
    padding-right: 100px;
    padding-left: 100px;

    display: flex;
    position: relative;

    @include mq(min-only) {
        padding-right: 20px;
        padding-left: 20px;
    }

    @include mq(tablet-only) {
        padding-left: 32px;
        padding-right: 32px;
    }

    @include mq(desktop) {
        padding-left: 17px;
        padding-right: 17px;

        padding-bottom: 146px;
    }
}

.about-appertitle {
    color: var(--main-text-color);
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;

    margin-bottom: 12px;
    width: 210px;

    @include mq(tablet) {
        width: 100%;
    }

    @include mq(desktop) {
        font-size: 30px;
        letter-spacing: 1.2px;
    }
}

.about-title {
    color: var(--main-text-color);
    text-align: center;
    font-family: var(--title-font);
    font-size: 30px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.2px;
    text-transform: uppercase;

    margin-bottom: 372px;
    width: 210px;

    @include mq(tablet-only) {
        width: 100%;

        margin-bottom: 80px;
    }

    @include mq(desktop) {
        width: 100%;
        font-size: 36px;
        letter-spacing: 2.16px;

        margin-bottom: 172px;
    }
}

.about-circle {
    width: 278px;
    height: 278px;
    border-radius: 50%;

    position: absolute;
    right: 100px;
    top: 240px;

    background: linear-gradient(0deg, rgba(248, 210, 78, 0.70) 0%, rgba(248, 210, 78, 0.70) 100%),
        #D9D9D9;
    
    box-shadow: 0px 4.48583px 16.82185px 0px rgba(153, 114, 23, 0.25);

    @include mq(min-only) {
        right: 25px;
    }

    @include mq(tablet-only) {
        right: 444px;
        top: 214px;
    }

    @include mq(desktop) {
        width: 490px;
        height: 490px;

        right: 693px;
    }

    &::before {
        position: absolute;
        right: 0px;
        top: 22px;
        content: '';

        width: 278px;
        height: 278px;

        background-image: url(../images/about/caw-sm.png);
        background-size: cover;

        @include mq(desktop) {
            width: 490px;
            height: 490px;

            top: 39px;
        }
    }
}

.about-content {
    display: flex;
    flex-direction: column;
    
    @include mq(tablet-only) {
        width: 334px;
        margin-left: auto;  
    }      
    
    @include mq(desktop) {
        width: 463px;
        margin-left: auto; 
        
        margin-right: 105px;
    }     
}
        

.about-text {
    margin-bottom: 24px;
    align-items: end;

    @include mq(desktop) {
        margin-bottom: 54px;  
    }     
}

.about-content-item:not(:last-child) {
    margin-bottom: 4px;

    @include mq(desktop) {
        margin-bottom: 8px;  
    }   
}

.about-desc {
    color: var(--main-text-color);
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    line-height: 2.11;
    letter-spacing: 0.48px;

    @include mq(tablet) {
        text-align: start;
    }

    @include mq(desktop) {
        font-size: 14px; 
    }   
        

    
}

.button-about {
    border-radius: 10px;
    background: var(--accent-color);
    
    display: flex;
    align-items: center;

    color: #000;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.29;

    padding: 12px 34px;

    margin-left: auto;
    margin-right: auto;

    @include mq(tablet) {
        margin-left: 0px;
    }
}

.about-icon {
    fill: #000;
    margin-left: 4px;
}