.contacts {
    transform: translateY(-349px);

    @include mq(desktop) {
        transform: translateY(-128px);
    }

}
.contacts-container {
    padding-left: 80px;
    padding-right: 80px;

    @include mq(min-only) {
        padding-left: 20px;
        padding-right: 20px;
    }

    @include mq(tablet-only) {
        padding-left: 32px;
        padding-right: 32px;
    }

    @include mq(desktop) {
        padding-left: 16px;
        padding-right: 16px;
    }

}

.contacts-list {
    margin-bottom: 24px;

    @include mq(tablet) {
        display: flex;
        justify-content: center;

        gap: 16px;
        margin-bottom: 40px;
    }

    @include mq(desktop) {
        gap: 32px;
        margin-bottom: 60px;
    }
}

.contacts-item {
    background-color: var(--secondary-background-color);
    border-radius: 24px;
    box-shadow: 0px 8px 30px 0px rgba(212, 20, 67, 0.10);

    padding: 40px 58px 24px 32px;

    &:not(:last-child) {
        margin-bottom: 16px;

        @include mq(tablet) {
            margin-bottom: 0px;
        }
    }

    @include mq(tablet-only) {
        flex-basis: calc((100% - 2*16px)/3);
        padding: 40px 24px 40px 24px;
    }

    @include mq(desktop) {
        flex-basis: calc((100% - 2*32px)/3);
        padding: 40px;
    }
}

.contacts-category {
    color: var(--secondary-text-color);

    font-size: 12px;
    font-weight: 500;
    line-height: 1.44;
    letter-spacing: 0.48px;

    display: inline-flex;
    padding: 4px 22px;
    border-radius: 4px;
    background: var(--accent-color);
        
    margin-bottom: 20px;

    @include mq(tablet) {
        font-size: 16px;
        // line-height: 2.24;
        letter-spacing: 0.64px;

        padding: 4px 13px;
        margin-bottom: 32px;
        border-radius: 6px;
    }

    @include mq(desktop) {
        padding: 4px 14px;
        margin-bottom: 36px;
    }
}

.contact-city {
    color: var(--secondary-text-color);
    font-size: 12px;
    font-weight: 500;
    line-height: 2.23;
    letter-spacing: 0.48px;

    margin-bottom: 8px;

    @include mq(tablet-only) {
        font-size: 14px;
        
        letter-spacing: 0.56px;

        margin-bottom: 12px;
    }

    @include mq(desktop) {
        font-size: 16px;
        line-height: 3;
        letter-spacing: 0.64px;
        margin-bottom: 8px;
    }
}


.contact-map-box {
    margin-bottom: 48px;

    @include mq(tablet) {
        margin-bottom: 64px;
    }
}

.contact-map {
    color: #D6936D;
    font-size: 12px;
    font-weight: 500;
    line-height: 2.2;
    letter-spacing: 0.48px;

    &:hover,
    &:focus {
        text-decoration-line: underline;
    }

    @include mq(tablet-only) {
        font-size: 14px;
        line-height: 2.56;
        letter-spacing: 0.56px;
    }

    @include mq(desktop) {
        font-size: 16px;
        line-height: 2.9;
        letter-spacing: 0.64px;
    }
}

.contact-hours-list {
    position: relative;

    margin-bottom: 48px;

    @include mq(tablet) {
        margin-bottom: 64px;
    }

    &::before {
        position: absolute;
        content: '';
        top: -24px;
        width: 216px;
        height: 1px;
        background-color: #e1e1e1;

        @include mq(tablet) {
            top: -32px;
            width: 176px;
        }

        @include mq(desktop) {
            width: 288px;
        }
    }

    &::after {
        position: absolute;
        content: '';
        bottom: -24px;
        width: 216px;
        height: 1px;
        background-color: #e1e1e1;

        @include mq(tablet-only) {
            bottom: -32px;
            width: 176px;
        }

        @include mq(desktop) {
            width: 288px;
        }
    }

}

.contact-hour-item {
    &:not(:last-child) {
        margin-bottom: 8px;
    }
}

.contact-days {
    color: var(--secondary-text-color);
    font-size: 12px;
    font-weight: 500;
    line-height: 2.23;

    @include mq(tablet-only) {
        font-size: 14px;
        line-height: 2.6;
    }

    @include mq(desktop) {
        font-size: 16px;
        line-height: 3;
        letter-spacing: 0.64px;
    }
} 

.contact-hour {
    color: #ABABAB;
    font-size: 12px;
    font-weight: 500;
    line-height: 2.23;

    @include mq(tablet-only) {
        font-size: 14px;
        line-height: 2.6;
    }

    @include mq(desktop) {
        font-size: 16px;
        line-height: 3;
    }
}

.contact-tel, .contact-mail{
    color: var(--secondary-text-color);
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.92; 

    @include mq(tablet-only) {
        font-size: 14px;
        line-height: 2.1;
    }

    @include mq(desktop) {
        font-size: 16px;
        line-height: 2.4;
    }
}

.contact-tel {
    margin-bottom: 6px;

    @include mq(tablet) {
        margin-bottom: 4px;
    }
}

// Contacts buttons

.contacts-buttons {
    @include mq(tablet) {
        display: flex;
        justify-content: center;
        gap: 16px;
    }
}

.contacts-button-location {
    padding: 15px 34px;
    border-radius: 10px;
    background: var(--accent-color);
    border: 2px solid var(--accent-color);
    width: 196px;

    display: flex;
    align-items: center;
    justify-content: center;

    color: #000;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.29;

    margin-right: auto;
    margin-left: auto;
    margin-bottom: 16px;

    transition: background-color var(--animation), color var(--animation), fill var(--animation), border-color var(--animation);

    &:hover {
        background-color: #0A8817;
        border-color: #0A8817;
    }

    &:focus {
        background-color: #0A8817;
        border-color: #0A8817;
        color: var(--main-text-color);
    }

    &:disabled {
        background-color: #ABABAB;
        border-color: #ABABAB;
    }

    &:focus .about-icon {
        fill: var(--main-text-color);
    }

}

.contacts-button-franchise {
    padding: 15px 34px;
    border-radius: 10px;
    background: transparent;
    border: 2px solid var(--accent-color);
    width: 196px;

    display: flex;
    align-items: center;
    justify-content: center;

    color: #000;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.29;

    margin-right: auto;
    margin-left: auto;

    margin-bottom: 60px;

    animation: border-color var(--animation), color var(--animation), fill var(--animation);

    &:hover {
        border-color: #0A8817;
    }

    &:focus {
        border-color: #0A8817;
        color: var(--main-text-color);
    }

    &:disabled {
        border-color: #ABABAB;
    }

    &:focus .about-icon {
        fill: var(--main-text-color);
    }


    @include mq(tablet-only) {
        margin-bottom: 40px;
    }

    @include mq(desktop) {
        margin-bottom: 120px;
    }
}

