.footer {
    margin-top: -340px;

    @include mq(tablet-only) {
        margin-top: -270px;
    }
}

.footer-desc {
    color: var(--main-text-color);
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;

    width: 232px;
    margin-bottom: 16px;

    @include mq(tablet-only) {
        font-size: 26px;
        letter-spacing: 1.04px;
        width: 352px;
        margin-bottom: 4px;
    }
}

.footer-text {
    color: var(--main-text-color);
    font-size: 34px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.36px;
    text-transform: uppercase;

    width: 200px;
    margin-bottom: 60px;

    @include mq(tablet-only) {
        font-size: 48px;
        letter-spacing: 2.88px;
        width: 352px;
    }
}

.footer-socials {
    display: flex;
    justify-content: flex-end;

    gap: 20px;
    margin-bottom: 20px;

    @include mq(tablet-only) {
        margin-top: -185px;
        margin-bottom: 34px;
        gap: 30px;
    }
}

.footer-contacts {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    margin-bottom: 40px;

    @include mq(tablet-only) {
        margin-bottom: 60px;
    }
}

.footer-tel-desc {
    color: var(--secondary-text-color);
    text-align: right;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 2.23;

    margin-right: 2px;

    @include mq(tablet-only) {
        font-size: 14px;
        line-height: 2.6;
    }
}

.footer-tel {
    color: var(--main-text-color);
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 186%;

    @include mq(tablet-only) {
        font-size: 14px;
        line-height: 2.6;
    }
}

.footer-copyright-wrapper {
    padding: 20px 121px 24px 79px;

    border-top: 1px solid #E1E1E1;

    display: flex;
    gap: 2px;

    @include mq(min-only) {
        padding-right: 0px;
        padding-left: 0px;
    }

    @include mq(tablet-only) {
        padding: 12px 224px 12px 246px;
    }
    
}

.footer-copyright {
    color: #7A7A7A;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
}