.gallery-wrapper {
    position: relative;
}

.gallery {
    position: absolute;
    top: 0;
    bottom: 0;
    transform: translateY(-49px);

    @include mq(tablet-only) {
        transform: translateY(-144px);
    }
}

.gallery-img {
    border-radius: 8px;
}