.gallery-wrapper {
    position: relative;

    display: flex;
    justify-content: center;
}

.gallery {
    position: absolute;
    top: 0;
    bottom: 0;

    transform: translateY(-49px);

    @include mq(min-only) {
        transform: translateY(-36px);
    }


    @include mq(tablet-only) {
        transform: translateY(-144px);
    }

    @include mq(desktop) {
        transform: translateY(-98px);
    }
}

.gallery-container {
    @include mq(desktop) {
        padding-right: 93px;
        padding-left: 94px;
    }
}

// .gallerry-list {
//     width: 3600px;
//     display: flex;
//     gap: 187px;
    
//     transition: transform 2000ms ease 0s;
//     animation: autoplay 2000ms ease;
// }

// .gallery-item {
//     transform: translate3d(0px, 0px, 0px);
// }



.gallery-img {
    border-radius: 8px;

    @include mq(tablet-only) {
        border-radius: 18px;
    }

    @include mq(desktop) {
        border-radius: 24px;
    }
}

@keyframes autoplay {
    0% {
        left: 0px;
    }

    33% {
        left: -1200px;
    }

    100% {
        left: -2400px;
    }
}