.header {
    display: flex;  
}

.header-container {
    display: flex;
    margin-top: 14px;

    @include mq(desktop) {
        margin-top: 8px;
        align-items: flex-end;
    }
}

.logo-img {
    width: 48px;

    @include mq(desktop) {
        width: 60px;
        height: 65px;

        margin-right: 308px;
    }
}

.header-navigation {
    display: flex;

    @include mq(min-only) {
        display: none
    }

    @include mq(mobile-only) {
        display: none
    }

    @include mq(tablet-only) {
        display: none
    }
}

.header-navigation-item {
    margin-top: 32px;
    margin-bottom: 13px;

    &:not(:last-child) {
        margin-right: 28px;
    }
}

.header-navigation-link {
    padding-top: 32px;
    padding-bottom: 13px;

    color: var(--main-text-color);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.menu-button {
    margin-left: auto;
    background-color: var(--main-background-color);

    @include mq(tablet-only) {
        margin-right: 32px;
    }

    @include mq(desktop) {
        display: none;
    }

}

.menu-icon {
    fill: #fff;
}

.header-button {
    @include mq(min-only) {
        display: none;
    }

    @include mq(mobile-only) {
        display: none;
    }

    color: #000;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    line-height: normal;

    display: flex;
    align-items: center;

    border-radius: 10px;
    background-color: var(--accent-color);

    padding: 12px 35px;

    @include mq(desktop) {
        margin-left: auto;
    }
}