.hero {
    background: url(../images/hero/background-480.png) no-repeat right bottom;
    background-size: 330px;

    padding-top: 40px;

    height: 355px;

    position: relative;

    @include mq(retina) {
        background: url(../images/hero/background-480@2x.png) no-repeat right bottom;
        background-size: 330px;
    }

    @include mq(min-only) {
        background: url(../images/hero/background-sm.png) no-repeat right bottom;
        background-size: 320px;

        height: 440px;
        padding-top: 50px;

        @include mq(retina) {
            background: url(../images/hero/background-sm@2x.png) no-repeat right bottom;
            background-size: 320px;
        }
    }

    @include mq(tablet-only) {
        background: url(../images/hero/background-md.png) no-repeat right bottom;
        background-size: 768px;

        padding-top: 12px;

        @include mq(retina) {
            background: url(../images/hero/background-md@2x.png) no-repeat right bottom;
            background-size: 768px;
        }
    }

    @include mq(desktop) {
        background: url(../images/hero/background-lg.png) no-repeat right bottom;
        background-size: 1200px;

        height: 591px;

        @include mq(retina) {
            background: url(../images/hero/background-lg@2x.png) no-repeat right bottom;
            background-size: 1200px;
        }
    }

}

.hero-content {
    display: flex;
}

.hero-title {
    color: var(--main-text-color);
    font-family: var(--title-font);
    font-size: 26px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.04px;
    text-transform: uppercase;

    width: 247px;

    margin-bottom: 32px;

    @include mq(desktop) {
        font-size: 38px;
        letter-spacing: 1.52px;
        width: 367px;

        margin-bottom: 28px;
    }    
}

.button-hero {
    border-radius: 8px;
    border: 2px solid var(--accent-color);
    padding: 11px 26px;

    color: #000;
    text-align: center;
    font-size: 12px;
    font-weight: 600;
    line-height: normal;

    margin-bottom: 12px;

    @include mq(desktop) {
        padding: 12px 34px;
        font-size: 14px;
        line-height: 1.28;

        margin-bottom: 50px;
        margin-right: 12px;
    }    
}

.button-anchor {
    color: var(--accent-color);
    text-align: center;
    font-size: 12px;
    font-weight: 600;
    line-height: normal;
    text-decoration-line: underline;

    @include mq(desktop) {
        font-size: 14px;   
    }    
}

.hero-hidden-content {
    display: flex;
    align-items: center;

    @include mq(min-only) {
        display: none;
    }

    @include mq(mobile-only) {
        display: none;
    }
}

.hero-text {
    color: #FFF;
    // font-family: DM Sans;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.68;

    width: 165px;
   
    display: flex;
    flex-direction: column;
    gap: 29px;

    @include mq(desktop) {
        font-size: 13px; 
        width: 200px;
        gap: 24px;

        padding-top: 30px;
    }  
}

.hero-arrow-icon {
    fill: var(--main-text-color);
}

.hero-ice-cream {
    width: 152px;
    height: 152px;

    margin-right: 32px;

    @include mq(min-only) {
        display: none;
    }

    @include mq(mobile-only) {
        display: none;
    }

    @include mq(desktop) {
        width: 225px;
        height: 225px;

        margin-right: 16px;
    }  
}

.hero-img {
    position: absolute;
    bottom: 0px;
    right: 27px;
    content: '';

    margin-right: auto;

    width: 218px;
    height: 267px;

    @include mq(min-only) {
        width: 177px;
        height: 217px;

        right: 56px;
    }

    @include mq(tablet-only) {
        width: 268px;
        height: 329px;

        right: 90px;
    }

    @include mq(desktop) {
        width: 456px;
        height: 560px;

        right: 80px;
    }
}

.header-statistics {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    padding-top: 14px;
    gap: 20px;

    @include mq(min-only) {
        display: none;
    }

    @include mq(mobile-only) {
        display: none;
    }

    @include mq(desktop) {
        padding-top: 22px;
        gap: 16px;
    }

}

.header-statistics-item {
    text-align: right;
}

.statistics-number {
    color: var(--secondary-text-color);
    font-size: 28px;
    font-weight: 900;
    line-height: normal;
    letter-spacing: 1.12px;
    text-transform: uppercase;

    margin-bottom: 4px;

    @include mq(desktop) {
        font-size: 46px;
        letter-spacing: 1.84px;
    }

}

.statistics-desc {
    color: var(--main-text-color);
    font-size: 8px;
    font-style: normal;
    font-weight: 400;
    line-height: normal; 
    
    @include mq(desktop) {
        font-size: 14px;
    }
}

