.hero-container {
    background: url(../images/hero/background-480.png) no-repeat right bottom;
    background-size: 330px;

    padding-top: 40px;
    padding-bottom: 150px;

    position: relative;

    @include mq(retina) {
        background: url(../images/hero/background-480@2x.png) no-repeat right bottom;
        background-size: 330px;
    }

    @include mq(min-only) {
        background: url(../images/hero/background-sm.png) no-repeat bottom;
        background-size: 320px;

        padding-top: 50px;
        padding-bottom: 236px;

        @include mq(retina) {
            background: url(../images/hero/background-sm@2x.png) no-repeat bottom;
            background-size: 320px;
        }
    }

    @include mq(tablet-only) {
        background: url(../images/hero/background-md.png) no-repeat bottom;
        background-size: 768px;

        padding-top: 12px;
        padding-bottom: 12px;

        @include mq(retina) {
            background: url(../images/hero/background-md@2x.png) no-repeat bottom;
            background-size: 768px;
        }
    }

    @include mq(desktop) {
        background: url(../images/hero/background-lg.png) no-repeat  bottom;
        background-size: 1200px;

        padding-bottom: 65px;

        @include mq(retina) {
            background: url(../images/hero/background-lg@2x.png) no-repeat  bottom;
            background-size: 1200px;
        }
    }

}

.hero-content {
    display: flex;
}

.hero-title {
    color: var(--main-text-color);
    font-family: var(--title-font);
    font-size: 26px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.04px;
    text-transform: uppercase;

    width: 247px;

    margin-bottom: 32px;

    @include mq(desktop) {
        font-size: 38px;
        letter-spacing: 1.52px;
        width: 367px;

        margin-bottom: 28px;
    }    
}

.hero-links-list {
    display: flex;
}

.hero-list-item {
    margin-bottom: 12px;
    margin-right: 12px;

    @include mq(tablet-only) {
        margin-right: 25px;
        margin-bottom: 30px;
    }

    @include mq(desktop) {
        margin-bottom: 50px;
        margin-right: 25px;
    }
}

.hero-link {
    border-radius: 8px;
    border: 2px solid var(--accent-color);
    padding: 11px 26px;

    color: #000;
    text-align: center;
    font-size: 12px;
    font-weight: 600;
    line-height: normal;

    transition: border-color var(--animation);

    &:hover {
        border-color: #0A8817;
    }

    @include mq(desktop) {
        padding: 12px 34px;
        font-size: 14px;
        line-height: 1.28;

        transition: border-color var(--animation), color var(--animation);

        &:focus {
            border-color: #0A8817;
            color: var(--main-text-color);
        }

        &:disabled {
            border-color: #ABABAB;
        }
    }    
}

.hero-anchor-link {
    color: var(--accent-color);
    text-align: center;
    font-size: 12px;
    font-weight: 600;
    line-height: normal;
    text-decoration-line: underline;

    transition: color var(--animation);

    &:hover {
        color: #0A8817;
    }

    &:focus {
        color: var(--main-text-color);
    }

    &:disabled {
        color: #ABABAB;
    }

    @include mq(desktop) {
        font-size: 14px;   
    }    
}

.hero-hidden-content {
    display: flex;
    align-items: center;

    @include mq(min-only) {
        display: none;
    }

    @include mq(mobile-only) {
        display: none;
    }
}

.hero-text {
    color: #FFF;
    // font-family: DM Sans;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.68;

    width: 165px;
   
    display: flex;
    flex-direction: column;
    gap: 29px;

    @include mq(desktop) {
        font-size: 13px; 
        width: 200px;
        gap: 24px;

        padding-top: 30px;
    }  
}

.hero-arrow-button {
    text-align: left;
}

.hero-arrow-icon {
    fill: var(--main-text-color);
    transition: scale var(--animation);

    &:hover,
    &:focus {
        transform: scale(1.25);
    }
}

.hero-ice-cream {
    width: 152px;
    height: 152px;

    margin-right: 32px;

    @include mq(min-only) {
        display: none;
    }

    @include mq(mobile-only) {
        display: none;
    }

    @include mq(desktop) {
        width: 225px;
        height: 225px;

        margin-right: 16px;
    }  
}

.hero-img {
    position: absolute;
    bottom: 0px;
    right: 27px;
    content: '';

    width: 218px;

    margin-right: auto;

    animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;


    @include mq(min-only) {
        width: 177px;
        right: 56px;
        
    }

    @include mq(tablet-only) {
        width: 268px;
        right: 90px;
        
    }

    @include mq(desktop) {
        width: 456px;
        right: 80px;
        
    }
}


@keyframes scale-up-center {
    0% {
        transform: scale(0.5);
    }

    100% {
        transform: scale(1);
    }
}

.header-statistics {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    padding-top: 14px;
    gap: 20px;

    @include mq(min-only) {
        display: none;
    }

    @include mq(mobile-only) {
        display: none;
    }

    @include mq(desktop) {
        padding-top: 22px;
        gap: 16px;
    }

}

.header-statistics-item {
    text-align: right;
}

.statistics-number {
    color: var(--secondary-text-color);
    font-size: 28px;
    font-weight: 900;
    line-height: normal;
    letter-spacing: 1.12px;
    text-transform: uppercase;

    margin-bottom: 4px;

    @include mq(desktop) {
        font-size: 46px;
        letter-spacing: 1.84px;
    }

}

.statistics-desc {
    color: var(--main-text-color);
    font-size: 8px;
    font-style: normal;
    font-weight: 400;
    line-height: normal; 
    
    @include mq(desktop) {
        font-size: 14px;
    }
}

