.products {
    background-image: url(../images/background/back-mobile.jpg);
    background-position: 70%;
    background-size: cover;

    padding-top: 60px;
    padding-bottom: 60px;

    @include mq(retina) {
        background-image: url(../images/background/back-mobile@2x.jpg);
    }

    @include mq(tablet-only) {
        background-image: url(../images/background/back-tablet.jpg);

        @include mq(retina) {
            background-image: url(../images/background/back-tablet@2x.jpg);
        }
    }

    @include mq(desktop) {
        background-image: url(../images/background/back-desctop.jpg);
        background-position: 50%;
        background-size: cover;
        

        @include mq(retina) {
            background-image: url(../images/background/back-desctop@2x.jpg);
        }
    }
}

.products-appertitle {
    color: var(--secondary-text-color);
    text-align: center;
    font-size: 18px;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;

    margin-bottom: 12px;

    @include mq(tablet-only) {
        font-size: 22px;
    }

    @include mq(desktop) {
        font-size: 30px;
        letter-spacing: 1.2px;
    }
}

.products-title {
    color: var(--secondary-text-color);
    text-align: center;
    font-family: var(--title-font);
    font-size: 30px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.2px;
    text-transform: uppercase;

    margin-bottom: 145px;

    @include mq(tablet-only) {
        font-size: 34px;

        margin-bottom: 200px;
    }

    @include mq(desktop) {
        font-size: 36px;
        letter-spacing: 2.16px;

        margin-bottom: 303px;
    }
}

.products-cart {
    gap: 168px;

    display: flex;
    flex-direction: column;
    align-items: center;

    @include mq(tablet-only) {
        flex-direction: row;
        gap: 16px;
    }

    @include mq(desktop) {
        flex-direction: row;
        gap: 29px;
    }
}

.products-item {
    border-radius: 24px;
    width: 320px;
    height: 428px;

    position: relative;
    padding-top: 126px;
    padding-bottom: 16px;
    padding-right: 60px;
    padding-left: 60px;

    @include mq(min-only) {
        width: 280px;
        height: 420px;

        padding-right: 40px;
        padding-left: 40px;
    }

    @include mq(tablet-only) {
        width: 224px;
        height: 428px;

        padding-right: 39px;
        padding-left: 39px;
        padding-top: 108px;

        border-radius: 15.781px;

        flex-basis: calc((100% - 2*16px)/3);

    }

    @include mq(desktop) {
        width: 370px;
        height: 536px;

        padding-top: 165px;
        padding-left: 64px;
        padding-right: 64px;

        border-radius: 24px;

        flex-basis: calc((100% - 2*29px)/3);
    }
}

.ice-cream-item {
    background-color: #AEC6A5;
}

.ice-coffe-item {
    background-color: #EFD478;
}

.milkshakes-item {
    background-color: #D6936D;
}

.cart-title {
    position: relative;
    color: var(--secondary-text-color);
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.8px;
    text-transform: uppercase;

    margin-bottom: 40px;

    @include mq(tablet-only) {
        font-style: 22px;
    }

    @include mq(desktop) {
        font-style: 30px;

        margin-bottom: 66px;
    }


}

.cart-description {
    color: var(--secondary-text-color);
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 176%;
    letter-spacing: 0.56px;

    @include mq(desktop) {
        font-size: 16px;
        letter-spacing: 0.64px;
    }
}

.button-cart-desc {
    display: flex;

    position: absolute;
    content: "";
    bottom: 16px;
    left: 140px;

    transition: scale var(--animation);

    &:hover,
    &:focus {
        transform: scale(1.25);
    }

    @include mq(min-only) {
        left: 120px;
    }

    @include mq(tablet-only) {
        left: 92px;
    }

    @include mq(desktop) {
        bottom: 60px;
        left: 165px;
    }
}

.products-circle {
    width: 200px;
    height: 200px;
    border-radius: 50%;

    position: absolute;
    right: 60px;
    top: -106px;

    @include mq(min-only) {
        right: 40px;
    }
    
    @include mq(tablet-only) {
        top: -108px;
        right: 12px;
    }

    @include mq(desktop) {
        width: 302px;
        height: 302px;

        top: -183px;
        right: 34px;
    }

    &::before {
        position: absolute;
        right: 0px;
        top: -11px;
        content: '';

        width: 200px;
        height: 200px;

        background-size: cover; 
        
        @include mq(desktop) {
            width: 302px;
            height: 302px;

            top: -16px;
        }
    }
}

.circle-ice-cream {
    background: linear-gradient(0deg, rgba(156, 190, 143, 0.70) 0%, rgba(156, 190, 143, 0.70) 100%),
   #D9D9D9;
    box-shadow: 0px 5.342193126678467px 20.033222198486328px rgba(10, 136, 23, 0.25);

    &::before {
        background-image: url(../images/products/img-1-sm-md.png);
    }
}

.circle-ice-coffe {
    background: linear-gradient(0deg, rgba(248, 210, 78, 0.70) 0%, rgba(248, 210, 78, 0.70) 100%),
    #D9D9D9;
    box-shadow: 0px 5.403973579406738px 20.26490020751953px rgba(153, 114, 23, 0.25);

    &::before {
        background-image: url(../images/products/img-2-sm-md.png);
    }
}

.circle-milkshakes {
    background: llinear-gradient(0deg, rgba(213, 117, 63, 0.70) 0%, rgba(213, 117, 63, 0.70) 100%),
     #D9D9D9;
    box-shadow: 0px 5.413332939147949px 20.299999237060547px rgba(0, 0, 0, 0.25);

    &::before {
        background-image: url(../images/products/img-3-sm-md.png);
    }
}